{% extends 'otherbase.html'  %}
{% load static %}
{%load crispy_forms_tags %}
{%  block content %}

		<div class="main-wrapper">
<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-8 offset-md-2">

        <!-- Login Tab Content -->
        <div class="account-content" >
          <div class="row align-items-center justify-content-center" >

            <div class="col-md-12 col-lg-6 login-right " >
              <div class="login-header" align="center" >
                <h1>Sign <span>In</span></h1>
								{% include 'includes/messages.html'%}
              </div>
              <form method="post" >{% csrf_token %}
                  {{form|crispy}}
                <div class="text-right">
                  <a class="forgot-link" href="forgot-password.html">Forgot Password ?</a>
                </div>
                <button class="btn btn-outline-secondary btn-block btn-lg login-btn" type="submit">Login</button>
                <div class="login-or">
                  <span class="or-line"></span>
                  <span class="span-or">or</span>
                </div>
                <div class="row form-row social-login">
                  <div class="col-6">
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-outline-info btn-block"><i class="fab fa-facebook-f mr-1"></i> Login</a>
                  </div>
                  <div class="col-6">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-outline-danger btn-block"><i class="fab fa-google mr-1"></i> Login</a>
                  </div>
                </div>
                <div class="text-center dont-have">Don’t have an account? <a href="{% url 'employment:register' %}" style="color:#0d6efd;">Register</a></div>
              </form>
            </div>
          </div>
        </div>
        <!-- /Login Tab Content -->

      </div>
    </div>

  </div>

</div>


{%  endblock content %}
